/* @import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jomhuria&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

input {
    display: none;
}

/* PRIMEIRA PAG */

.pag1 {
    background-image: url(img/fundo.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

nav {
    background-color: rgb(245, 210, 72);
    height: 80px;
    grid-template-areas: "logo nav-bar";
    grid-template-columns: 100px 1fr;
    display: grid;
}

.logo {
    grid-area: logo;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.menu {
    grid-area: nav-bar;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu li {
    transition: .2s;
}

.menu li:hover {
    border-bottom: 4px #fff solid;
}

.menu a {
    text-decoration: none;
    color: black;
}

/* INTRODUÇÃO */

.intro {
    background-color: #686868;
    grid-template-areas: "header" "main";
    grid-template-rows: 250px 1fr;
    display: grid;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    grid-template-areas: "tittle code";
    grid-template-columns: 80% 1fr;
    display: grid;
}

.tittle {
    grid-area: tittle;
    color: white;
    font-family: Jomhuria;
    font-size: 90px;
    text-shadow: 1px 2px 3px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle-name {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    border: #000000 3px solid;

}

.code {
    grid-area: code;
    font-size: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    grid-area: main;
    grid-template-areas: "conceito" "diferencas";
    grid-template-rows: 35% 1fr;
    display: grid;
}

.conceito {
    grid-area: conceito;
    width: 100%;
    height: 100%;
}

.topico-1 {
    color: white;
    font-size: 30px;
    display: flex;
    margin: 35px;
    font-family: Josefin Sans;
}

.text-1 {
    color: white;
    font-family: Josefin Sans;
    font-size: 25px;
    display: flex;
    text-align: justify;
    margin: 45px;
}


.tittle-2 {
    color: white;
    font-size: 45px;
    font-family: Josefin Sans;
    display: flex;
    justify-content: center;
}

main hr {
    background-color: #F5D248;
    height: 3px;
    border: none;
    width: 35%;
    margin-left: 42%;
    margin-bottom: 100px;
}

.diferencas {
    grid-area: diferencas;
    height: 100%;
    width: 100%;
    grid-template-areas: "js-topico" "java-topico";
    grid-template-rows: 50% 1fr;
    display: grid;
}

.container {
    grid-area: js-topico;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.js-logo {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: #F5D248;
    font-family: Inria Sans;
    margin: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.js-topico span {
    font-size: 60px;
}

.descricao {
    width: 70%;
    border-radius: 5px;
    border: #F5D248 2px solid;
    height: 140px;
    background-color: #F9F3EA;
    margin-top: 55px;
    display: flex;
    text-align: center;
}

.descricao p {
    font-size: 25px;
    width: 95%;
    padding: 35px;
    font-weight: bold;
    font-family: Inria Sans;

}

.exemplo {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.exemplo span {
    color: white;
    font-size: 30px;
    padding: 25px;
    font-family: Inria Sans;
}

.exemplo-js {
    width: 100%;
    display: flex;
    justify-content: center;
}

.exemplo-js img {
    width: 40%;
    height: 100px;
    display: flex;
    border-radius: 5px;
}

.container-java {
    grid-area: java-topico;
    display: flex;
    flex-direction: row;
}

.java-logo {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-color: #D9D9D9;
    margin: 45px;
}

.java-logo img {
    width: 150px;
    height: 150px;
}

.descricao-2 {

    width: 70%;
    border-radius: 5px;
    border: #CC800E 3px solid;
    height: 170px;
    background-color: #F9F3EA;
    margin-top: 37px;
    display: flex;
    text-align: center;
}

.descricao-2 p {
    font-size: 25px;
    width: 95%;
    padding: 25px;
    font-weight: bold;
    font-family: Inria Sans;
}

.exemplo-java {
    width: 100%;
    display: flex;
    justify-content: center;
}

.exemplo-java img {
    width: 40%;
    height: 160px;
    display: flex;
    border-radius: 5px;
}

/* VARIÁVEIS */
.var {
    background-color: #ffe168e1;
    width: 100%;
    grid-template-areas: "top1" "carrosel" "tipos";
    grid-template-rows: 200px 400px 1fr;
    display: grid;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.top1 {
    grid-area: top1;
    width: 100%;
    height: 100%;
    grid-template-areas: "icon-top tittle-name2";
    grid-template-columns: 100px 1fr;
    display: grid;
    margin: 45px;
    /* background-color: #CC800E; */
}

.icon-top {
    grid-area: icon-top;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;

}

.icon-top img {
    height: 80px;
    width: 100px;
    /*INCLINAR A IMG*/
}

.tittle-name2 {
    grid-area: tittle-name2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Jomhuria;
    font-size: 180px;
    text-shadow: 1px 2px 3px #000000;
}

.topico-2 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: flex;
    margin: 35px;
    font-family: Josefin Sans;
    /* margin-top: 45px; */
}

.text-2 {
    color: rgb(0, 0, 0);
    font-family: Josefin Sans;
    font-size: 25px;
    display: flex;
    text-align: justify;
    margin: 45px;
}

.carrosel{
    grid-area: carrossel;
    width: 100%;
    height: 100%;
}

/*
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
    background-color: #428aa6;
}

input{
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;

}
*/